MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=
MYSQL_DATABASE=database

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4321

EMAIL_PROVIDER=console

# EMAIL_PROVIDER="resend"
# EMAIL_FROM="VK <a@b.c>"
# RESEND_API_KEY=